.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.question-table {
    width: 100%;
    align-self: center;
    border-collapse: collapse;
    margin: 0 auto; /* Center the table horizontally */
}

.question-table th, .question-table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd; /* Thin gray borders */
}

.question-table th {
    background-color: #f2f2f2; /* Light gray background for table header */
}

.correct {
    background-color: lightgreen; /* Light green background for correct answers */
    opacity: 60%;
}

.incorrect {
    background-color: lightcoral; /* Light red background for incorrect answers */
    opacity: 60%;
}

.button-container {
    width: 100%; /* Calculate width with margins included */
    background-color: white;
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    align-items: center; /* Center the buttons vertically */
    padding: 10px; /* Adjust padding as needed */
    margin-top: 10px;
  }

  .button-container button {
    margin: 0 5px; /* Add space between buttons */
  }