
<div class="container-horiz">
    <div class="question-container">
    <div *ngIf="gameDatas">
        <fillin-question [gameData]="gameDatas[currentQuestionIndex]" (messageEvent)="receiveMessage($event)"></fillin-question>
    </div>
    </div>
    <div class="scoreboard-container">
        <div>
            <game-scoreboard [correct]="numCorrect" [incorrect]="numIncorrect" [total]="totalQuestions" (messageEvent)="receiveMessage($event)"></game-scoreboard>
        </div>
    </div>
    <div class="button-container">
        <button mat-fab extended (click)="nextQuestion()" [disabled]="!enableNext" color="primary"><mat-icon>forward</mat-icon>Next</button>
        <button mat-fab extended (click)="pauseGame()" color="warn"><mat-icon>close-small</mat-icon>Quit</button>
    </div>
</div>



