<mat-card>
    <mat-card-header>
    <div>
      <mat-card-title>Trophy Case</mat-card-title>
    </div>
    </mat-card-header>
    <ng-container *ngIf="!displayedAwards || displayedAwards.length == 0">
      <img mat-card-image src="https://res.cloudinary.com/dngjhgdql/image/upload/v1709335181/small_trophy_ieewc5.png" alt="image of trophy">
    </ng-container>
    <mat-card-content>
      <ng-container *ngIf="displayedAwards && displayedAwards.length > 0">
      <div *ngFor="let award of displayedAwards">
        <img mat-card-image src="{{award.image}}" alt="{{award.award}}" matTooltip="{{award.toolTip}}" width="50px" height="50px">
      </div>
      </ng-container>
      <ng-container *ngIf="!displayedAwards || displayedAwards.length == 0">
      <p>
        Trophies and badges will be displayed here
      </p>
     </ng-container>
    </mat-card-content>
  </mat-card>
