<mat-sidenav-container>
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <div class="logo-container">
      <div mat-card-avatar class="custom-avatar"><img src="./assets/images/bee.png" alt="Avatar" class="avatar-image"></div>
      <span class="logo-text">Bee Brilliant</span>
    </div>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="home">Home</a>
      <a mat-list-item routerLink="quiz">Quizzes</a>
      <a *appHasRole="['Admin','Creator']" routerLink="admin">Admin</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content-container">
    <mat-toolbar class="toolbar-top">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span></span>
      <div class="login-container" *ngIf="!(currentUser$ | async)">
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
          <input name="username" ngModel matInput placeholder="Username" class="login-field">
          <input name="password" ngModel matInput type="password" placeholder="Password" class="login-field">
          <button mat-raised-button color="primary" type="submit">Login</button>
        </form>
      </div>
      <div *ngIf="currentUser$ | async" class="login-welcome">
        <span>Welcome</span>
        <button mat-icon-button [matMenuTriggerFor]="menu" >
          <mat-icon>person</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>person</mat-icon>
            <span>Edit Profile</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>
    <div class="layout-main-container">
      <div class="layout-main">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
